<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="/static/css/form.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/enroll.js"></script>
</head>
<body>
<div id="body">
    <div class="left">
        <img class="cat" src="/static/img/cat.gif">
    </div>
    <div class="main">
    <form class="form" method="post" action="#">
        邮 箱<input

            id="email" class="text-input" type="text" name="email"><br/>
        密 码<input id="password" class="text-input" type="password" name="password"><br/>
        昵 称<input id="nickname" class="text-input" type="text" name="nickname"><br/>

        <input class="button-style" type="button" value="提交" onclick="enroll()">
        <input class="button-style" type="reset" value="重置"><br/>
        <br/><br/><br/>
        <input class="button-style" type="button" onclick="toLogin()" value="前往登陆">
        <input class="button-style" type="button" onclick="toIndex()" value="回到首页" ><br/>
        <span id="error"></span><br/><br/>
    </form>
    </div>
</div>
</body>
</html>